/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    /* FONTS */
    .cont_font {
        font-size: 16px;
        margin: 0;
    }
    .nav_font {
        font-size: 18px;
        text-decoration-line: none;
    }

    /* CONTAINERS */
    /* NAVIGATION */
    nav {
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 60px;
    }
    .settings {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .__item {
        border-radius: 10px;
        font-size: 8px;
        border: 0;
        outline: none;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    } .__item:hover {
        cursor: pointer;
    }

    /* MAIN */
    main {
        display: grid;
        row-gap: 10px;
        margin-top: 60px;
        padding-bottom: 30px;
    }
    .main_cont {
        row-gap: 15px;
        padding: 15px;
        border-radius: 20px;
        width: 60vw;
        height: 40vw;
    }

    /* QUICK NOTES */
    .quick_notes {
    }
    .list {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .list li {
        margin: 0;
        cursor: pointer;
        list-style: none;
        text-align: justify;
        position: relative;
        padding: 5px 30px 5px 15px;
        font-size: 12px;
        transition: 0.2s;
        width: auto;
        word-wrap: break-word;
        overflow: auto;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .addBtn {
        background: none;
        color: #BEBBD4;
        float: right;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }
    .todo_list {
        display: grid;
        grid-template-rows: 0.5fr 9.5fr;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        border-radius: 0 0 15px 15px;
    }
    .input_todo {
        display: flex;
        box-sizing: border-box;
        padding: 15px 0 15px 15px;
        margin: 0;
        border: none;
        border-radius: 0;
        width: 90%;
        float: left;
        font-size: 12px;
    }

    /* FOCUS */
    .focus {
        display: grid;
        padding: 0;
        border-radius: 20px;
        text-decoration: none;
        outline: none;
    }
    .timer_font {
        font-size: 30px;
    }

    /* POMODOROS */
    .pomodoros {
        margin-left: auto;
        margin-right: auto;
        margin: 0;
    }
    input[type=checkbox] {
        width: 0.7em;
        height: 0.7em;
        border-radius: 3px;
        margin: 4px;
    }
    .session_tracker {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        float: justify;
        padding: 15px;
        border-radius: 0 0 15px 15px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 700px){
    main {
        display: grid;
        row-gap: 10px;
        margin-top: 60px;
        padding-bottom: 30px;
    }
    .main_cont {
        row-gap: 15px;
        padding: 15px;
        border-radius: 20px;
        width: 70vw;
        height: 30vw;
    }
    nav {
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 60px;
    }
    .settings {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .__item {
        border-radius: 10px;
        font-size: 8px;
        border: 0;
        outline: none;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    } .__item:hover {
        cursor: pointer;
    }
}